<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
        			<li><a href="{{ site.baseurl }}/">Головна</a></li>
	        		<li><a href="{{ site.baseurl }}/about">Про проект</a></li>
				<!-- <li><a href="{{ site.baseurl }}/team">Команда</a></li> -->
        			<li><a href="{{ site.baseurl }}/blog">Блог</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
        			<li><a href="https://twitter.com/eduard_k">Twitter</a></li>
        			<li><a href="https://github.com/eduard-k/TPD/">GitHub</a></li>
			</ul>
			</footer>
		</body>
	</html>
